* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
    background-color: #ffffffd0;
    background: linear-gradient(to bottom right, #307fce, rgb(209, 175, 175));

}

h1 {
    text-align: center;
    margin: 20px 0;
}

.country-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.country-box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.country-box img {
    margin: -3px;
    height: auto;
    width: 100%; /* Asegura que la imagen cubra completamente el contenedor */
}

.country-box:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: black;
}

#pais1 {
    background-color: #b8faff;
}
#pais2 {
    background-color:  #ac4739; /* Establece la imagen de la bandera para el país 2 */
}

#pais3 {
    background-color: #ffdd00ff	; /* Establece la imagen de la bandera para el país 2 */
}
#pais4 {
    background-color: #007934; /* Establece la imagen de la bandera para el país 2 */
}
#pais5 {
    background-color: 	#D91023; /* Establece la imagen de la bandera para el país 2 */
}
#pais6 {
    background-color: #fcfc34; /* Establece la imagen de la bandera para el país 2 */
}
#pais7 {
    background-color: #EF3340; /* Establece la imagen de la bandera para el país 2 */
}
#pais8 {
    background-color: #fcd116ff	; /* Establece la imagen de la bandera para el país 2 */
}
#pais9 {
    background-color: #0038a8    ; /* Establece la imagen de la bandera para el país 2 */
}
