* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
}

html{
    width: 100%;
    height: 100%;
}


body
html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
background-color: #ffffffd0;
}

header {
    color: #000000; 
    margin: 0px;
    padding: 10px; 
    padding-bottom: 15pxz;
    text-align: center; 
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    
}

.header-text {
    margin: -10px; 
}

#contactos {
    margin-left: auto; 
}

h1 {
    text-align: center; /* Esto centrará el título */
}


#centro {
    margin: auto;
    text-align: center; 
}

  
#slideshow {
    background-image: linear-gradient(to right, #ffffff, #ce0a0a);
    background-position: top;
    background-size: 100% 50%;
    background-repeat: no-repeat;

}

.border-cont {

    text-align: center;
    width: auto;
    margin: 10px;
    border: 1px solid rgb(245, 248, 253);
    border-radius: 10px;
    background-color: rgb(113, 173, 238);
}

.mySlides {display:none;}
.country-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.country-box {
    border: 1px solid rgb(0, 0, 0);
    padding: 0; /* Ajusta el padding a 0 para que la imagen cubra el borde */
    text-align: center;
    border-radius: 10px;
    overflow: hidden; /* Esto oculta cualquier contenido que se desborde */
    background-size: cover; /* La imagen de fondo cubrirá todo el cuadro */
}
.country-box img {
    margin: -3px; /* Ajusta el margen negativo para que la imagen cubra el borde */
    height: auto;
}

.centrado {
align-items: center;
    text-align: center;
}

.country-box:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
}


a h1{
    text-decoration: none; 
    color: black    ;
}

.centroimagen {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 5px solid black;
}

h2 {
    text-align: center;
}

#container-cont {

    width: 60%;
}
#centroitems {
    display: flex;
    align-items: center;
    justify-content: center;
}


#oferta{
    border:5px solid #000000;
    margin: 10px;
    border: none;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

#oferta a {
    text-decoration: none!important;
}

.descuento{
    text-decoration: none;
}
h1 a{
    color: white;
}
#container-cont a{
text-decoration: none!important;

}

